<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.admin.mapper.TtDeliveryRecordMapper">

    <select id="getDeliveryApplyList" resultType="com.ruoyi.domain.vo.DeliveryApplyVO" parameterType="com.ruoyi.domain.other.TtDeliveryApplyBody">
        SELECT
            tdr.id,
            tdr.out_trade_no,
            tdr.user_id,
            tdr.ornaments_price,
            tdr.create_time,
            tto.id AS 'ornament_id',
            tto.name AS 'ornament_name',
            tto.image_url,
            tu.nick_name AS 'nick_name'
        FROM tt_delivery_record tdr
        LEFT JOIN tt_user tu ON tdr.user_id = tu.user_id
        LEFT JOIN tt_ornament tto ON tdr.ornament_id = tto.id
        <where>
            <if test="userName != null">AND tu.user_name LIKE #{userName}</if>
            <if test="phoneNumber != null">AND tu.phone_number = #{phoneNumber}</if>
            <if test="outTradeNo != null">AND tdr.out_trade_no = #{outTradeNo}</if>
            AND tdr.delivery = 1 AND tdr.`status` = 1
        </where>
        ORDER BY tdr.create_time DESC
    </select>

    <select id="getDeliveryRecordList" resultType="com.ruoyi.domain.vo.TtDeliveryRecordDataVO"
            parameterType="com.ruoyi.domain.other.TtDeliveryRecordBody">
        SELECT
        tdr.id,
        tdr.user_id,
        tu.nick_name,
        tto.name,
        tto.image_url,
        tdr.out_trade_no,
        tdr.buy_price,
        tdr.thirdparty_delivery,
        tdr.delivery,
        tdr.order_id,
        tdr.`status`,
        tdr.message,
        tdr.update_time,
        tto.name as itemName
        FROM tt_delivery_record tdr
        LEFT JOIN tt_user tu ON tdr.user_id = tu.user_id
        LEFT JOIN tt_ornament tto ON tdr.ornament_id = tto.id
        <where>
            <if test="userName != null">AND tu.user_name LIKE CONCAT('%',#{userName},'%')</if>
            <if test="phoneNumber != null">AND tu.phone_number = #{phoneNumber}</if>
            <if test="outTradeNo != null">AND tdr.out_trade_no = #{outTradeNo}</if>
            <if test="orderId != null">AND tdr.order_id = #{orderId}</if>
            <if test="status != null">AND tdr.`status` = #{status}</if>
            <if test="itemName != null">AND tto.name LIKE CONCAT('%',#{itemName},'%')</if>
            <if test="startTime != null and endTime != null">
                <![CDATA[ AND (tdr.create_time >= #{startTime} AND tdr.create_time <= #{endTime}) ]]> </if>
            <![CDATA[ AND tdr.`status` <> '0' ]]>
<!--            <![CDATA[ AND tdr.`status` <> '0' AND tdr.delivery <> 3 ]]>-->
        </where>
        ORDER BY tdr.create_time DESC
    </select>

    <select id="getDeliveryRecordByUserList" resultType="com.ruoyi.domain.vo.TtDeliveryRecordDataVO"
            parameterType="com.ruoyi.domain.other.TtDeliveryRecordBody">
        SELECT
        tdr.id,
        tdr.user_id,
        tu.nick_name,
        tto.name,
        tto.image_url,
        tdr.out_trade_no,
        tdr.ornaments_price,
        tdr.thirdparty_delivery,
        tdr.order_id,
        tdr.`status`,
        tdr.message,
        tol.level_img,
        tdr.update_time
        FROM tt_delivery_record tdr
        LEFT JOIN tt_user tu ON tdr.user_id = tu.user_id
        LEFT JOIN tt_ornament tto ON tdr.ornament_id = tto.id
        LEFT JOIN tt_ornaments_level tol ON tto.quality = tol.id

        <where>
            <if test="userName != null">AND tu.user_name LIKE CONCAT('%',#{userName},'%')</if>
            <if test="phoneNumber != null">AND tu.phone_number = #{phoneNumber}</if>
            <if test="outTradeNo != null">AND tdr.out_trade_no = #{outTradeNo}</if>
            <if test="orderId != null">AND tdr.order_id = #{orderId}</if>
            <if test="status != null">AND tdr.`status` = #{status}</if>
            <if test="itemName != null">AND tto.name LIKE CONCAT('%',#{itemName},'%')</if>
            <if test="startTime != null and endTime != null">
                <![CDATA[ AND (tdr.create_time >= #{startTime} AND tdr.create_time <= #{endTime}) ]]>
            </if>
            <![CDATA[ AND tdr.delivery <> 3 ]]>
        </where>
        ORDER BY tdr.create_time DESC
    </select>

    <select id="byCondition" resultType="com.ruoyi.domain.vo.delivery.DeliveryRecordVO">
        SELECT
            tdr.id,
            tdr.user_id,
            tto.name as ornament_name,
            tto.image_url as ornament_img,
            tdr.out_trade_no,
            tdr.ornaments_price,
            tdr.thirdparty_delivery,
            tdr.order_id,
            tdr.`status`,
            tdr.message,
            tol.level_img as ornament_level_img
        FROM tt_delivery_record tdr
        LEFT JOIN tt_ornament tto ON tdr.ornament_id = tto.id
        LEFT JOIN tt_ornaments_level tol ON tto.quality = tol.id
        <where>
            <if test="statusList != null">
                and tdr.`status` in
                <foreach item="status" collection="statusList" separator="," open="(" close=")" index="">
                    #{status}
                </foreach>
            </if>

            <if test="uidList != null">
                and tdr.user_id in
                <foreach item="uid" collection="uidList" separator="," open="(" close=")" index="">
                    #{uid}
                </foreach>
            </if>
        </where>
        limit #{limit},#{size}

    </select>
</mapper>